body{
	font-size: 16px; /*1em*/
	margin: 0px auto;
	/*requerimiento del cliente*/
	min-width: 1024px;
    max-width: 1024px;
    height:50px
}
body header img{
    width: 800px;
    float :right;
}
header input{
	float:  left;
	margin-right: -240px;
    margin-top: 15px;
	/* position: relative; */
}
#primerSeccion{
    border:1px solid #2C2B2B ;
    /* largo de lq seccion */
    height: 300px;
    top :100px;
    position: relative;
    background-color :#2C2B2B;
}
#seccion01art01 img{
    /* display: inline; */
    margin-left: 0px;
	width: 30px;
}
#section span ul{
    /* le quita los puntos a la lista */
    list-style: none;
    margin-top: 30px;
    padding-right: 15px;
    margin-left: 18px;
    width: 70px;
    color: grey;
}
#seccion01art01  img{
    height: 60px;
}

#seccion01art02 {
    height: 60px;
    margin-left: 30px;
    display: inline-block;
}
#segundaSeccion{
    border:1px solid gray ;
    /* largo de la seccion */
    height: 300px;
    color:gray;
    top :100px;
    position: relative;
    background-color :#2C2B2B;
    display: block;
}
#segundaSeccion article article img{
    height: 33px;
}
/* clases */
/* articulos de la seccion */
.contenedor {
    /* border: 1px solid red; */
    display: inline-table;
    margin: 20px 20px;
    /* padding: 0px 0px 10px;  */
    width: 28%;
}
/*Seccion02 imagen*/
.marcoImagen{
    /* display: inline-block; */
    border-bottom: 2px dashed gray;
    margin: 0px 0px 10px;
    padding: 0px 0px 10px;
    text-align: right;
    /* width: 100%; */
}
.nito{
	font-weight: bold;
}
.esquina{
    float: right;
}
.azul{
    color:#4976CE;
}
.colorVerde{
    background-color: #7FE166;
}